footer {
  padding: 2rem;
  background-color: var(--petrol);
  font-size: var(--body-font-size-s);
}

footer .footer img {
  height: 20px;
}

footer .footer {
  max-width: 900px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}